@model NewsViewModel

<div class="blog-container">
    <div class="blog-header">
        <div class="blog-cover">
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model?.ImageData ?? Array.Empty<byte>())" >
        </div>
    </div>
    <div class="blog-body">
        <div class="blog-title">
            <h1>
                <a asp-area="" asp-controller="News" asp-action="GetNewsById" asp-route-id="@Model.Id">@Model.Title</a>
            </h1>
        </div>
        <div class="blog-text">
            <p>@Model.Description</p>
        </div>
        <div class="blog-tags">
            <ul>
                @foreach (string tag in Model.Tags)
                {
                    <li>
                        <a asp-area="" asp-controller="News" asp-action="GetNewsByTag" asp-route-tag="@tag">@tag</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="blog-footer">
        <ul>
            <li class="published-date">@Model.DateCreate</li>
        </ul>
    </div>
</div>