@model IEnumerable<NewsViewModel>

@{
    TextField textField = ViewBag.TextField;
    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeywords;
}

<div>
    @Html.Raw(textField.Text)
</div>

@if (Model.Any())
{
    @foreach (NewsViewModel news in Model)
    {
        <div class="blog-container">
            <div class="blog-header">
                <div class="blog-cover">
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(news?.ImageData ?? Array.Empty<byte>())" >
                </div>
            </div>
            <div class="blog-body">
                <div class="blog-title">
                    <h1>
                        <a asp-area="" asp-controller="News" asp-action="GetById" asp-route-id="@news.Id">@news.Title</a>
                    </h1>
                </div>
                <div class="blog-text">
                    <p>@news.Description</p>
                </div>
                <div class="blog-tags">
                    <ul>
                        @foreach (string tag in news.Tags)
                        {
                            <li>
                                <a asp-area="" asp-controller="News" asp-action="GetByTag" asp-route-tag="@tag">@tag</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="blog-footer">
                <ul>
                    <li class="published-date">@news.DateCreate</li>
                </ul>
            </div>
        </div>
    }
}