@model IEnumerable<MotherboardViewModel>

@{
    ViewBag.Title = "Процессоры";
}

@if (Model != null)
{
    <div class="pc_parts_list">
        @foreach (var entity in Model)
        {
            <div class="pc_parts_block">
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(entity?.ImageData ?? Array.Empty<byte>())" >
                <div class="pc_parts_desc">
                    <a asp-area="" asp-controller="Motherboard" asp-action="GetById" asp-route-id="@entity.Id">
                        @entity.Name
                    </a>
                    <div class="pc_parts_params">
                        <p>Производитель: @entity.Company</p>
                        <p>Сокет: @entity.Socket</p>
                        <p>Чипсет: @entity.Chipset</p>
                        <p>Форм-фактор: @entity.MotherboardType</p>
                    </div>
                </div>
            </div>
        }
    </div>
}