@model IEnumerable<FrameViewModel>

@{
    string strTitle = "Панель администратора (корпусы)";
    ViewBag.Title = strTitle;
}

<div>
    <h1>@strTitle</h1>
    <div>
        <a asp-area="Admin" asp-controller="Frame" asp-action="Edit" asp-route-id="">Добавить корпус</a>
    </div>
    <div>
        @if (Model.Any())
        {
            <div>
                @foreach (FrameViewModel entity in Model)
                {
                    <div>
                        <a asp-area="Admin" asp-controller="Frame" asp-action="Edit" asp-route-id="@entity.Id">редактировать</a>

                        <form style="display: inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="Frame" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@entity.Id">
                            <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">удалить</a>
                        </form>

                        <a asp-area="" asp-controller="Frame" asp-action="Index" asp-route-id="@entity.Id">
                            @($"{entity.Name}")
                        </a>
                    </div>
                }
            </div>
        }
    </div>
    <div>
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input type="submit" value="Выйти" />
        </form>
    </div>
</div>