@model RAMViewModel

@{
    ViewBag.Title = Model.Name;
}

<div>
    <h2>@Model.Name</h2>
    <div>
        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model?.ImageData ?? Array.Empty<byte>())" >
        <p>Название: @Model.Name</p>
        <p>Производитель: @Model.Company</p>
        <p>Частота: @Model.ClockSpeed МГц</p>
        <p>Задержки: @Model.Delay</p>
        <p>Объём: @Model.MemoryCapacity Гб</p>
        <p>Тип: @Model.MemoryType</p>
    </div>
</div>