@model CPUViewModel

@{
    string strTitle = "Редактировать процессор";
    ViewBag.Title = strTitle;
}

<div>
    <h2>@ViewBag.Title</h2>
    <div>
        <form asp-area="Admin" asp-controller="CPU" asp-action="Edit" method="post" enctype="multipart/form-data">

            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" type="text" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Company"></label>
                <select asp-for="Company" asp-items="@Html.GetEnumSelectList<Company>()"></select>
            </div>
            <div>
                <label asp-for="Series"></label>
                <select asp-for="Series" asp-items="@Html.GetEnumSelectList<Series>()"></select>
            </div>
            <div>
                <label asp-for="Socket"></label>
                <select asp-for="Socket" asp-items="@Html.GetEnumSelectList<Socket>()"></select>
            </div>
            <div>
                <label asp-for="TechnicalProcess"></label>
                <select asp-for="TechnicalProcess" asp-items="@Html.GetEnumSelectList<TechnicalProcess>()"></select>
            </div>
            <div>
                <label asp-for="CoresCount"></label>
                <input asp-for="CoresCount" type="text" />
                <span asp-validation-for="CoresCount"></span>
            </div>
            <div>
                <label asp-for="ThreadsCount"></label>
                <input asp-for="ThreadsCount" type="text" />
                <span asp-validation-for="ThreadsCount"></span>
            </div>
            <div>
                <label asp-for="CacheCapacity"></label>
                <input asp-for="CacheCapacity" type="text" />
                <span asp-validation-for="CacheCapacity"></span>
            </div>
            <div>
                <label asp-for="HaveIntegratedGraphics"></label>
                <input asp-for="HaveIntegratedGraphics" type="checkbox" />
                <span asp-validation-for="HaveIntegratedGraphics"></span>
            </div>
            <div>
                <label asp-for="IntegratedGraphics"></label>
                <select asp-for="IntegratedGraphics" asp-items="@Html.GetEnumSelectList<IntegratedGraphics>()"></select>
            </div>
            <div>
                <label asp-for="ClockSpeed"></label>
                <input asp-for="ClockSpeed" type="text" />
                <span asp-validation-for="ClockSpeed"></span>
            </div>
            <div>
                <label asp-for="BoostClockSpeed"></label>
                <input asp-for="BoostClockSpeed" type="text" />
            </div>
            <div>
                <label asp-for="TDP"></label>
                <input asp-for="TDP" type="text" />
                <span asp-validation-for="TDP"></span>
            </div>
            <div>
                <label asp-for="RAMType"></label>
                <select asp-for="RAMType" asp-items="@Html.GetEnumSelectList<MemoryType>()"></select>
            </div>
            <div>
                <label asp-for="RAMThreads"></label>
                <input asp-for="RAMThreads" type="text" />
                <span asp-validation-for="RAMThreads"></span>
            </div>
            <div>
                <label asp-for="Image"></label>
                <input asp-for="Image" type="file" />
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model?.ImageData ?? Array.Empty<byte>())" >
            </div>

            <input type="submit" value="Сохранить" />
        </form>
    </div>
</div>