@model SSDViewModel

@{
    ViewBag.Title = Model.Name;
}

<div>
    <h2>@Model.Name</h2>
    <div>
        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model?.ImageData ?? Array.Empty<byte>())" >
        <p>Название: @Model.Name</p>
        <p>Производитель: @Model.Company</p>
        <p>Объём: @Model.MemoryCapacity Гб</p>
        <p>Скорость чтения: @Model.ReadSpeed Мб/с</p>
        <p>Скорость записи: @Model.WriteSpeed Мб/с</p>
    </div>
</div>