@model IEnumerable<CPUViewModel>

@{
    ViewBag.Title = "Процессоры";
}

@if (Model != null)
{
    <div class="pc_parts_list">
        @foreach (CPUViewModel CPU in Model)
        {
            <div class="pc_parts_block">
                <img src="data:image;base64,@System.Convert.ToBase64String(CPU.ImageData)" alt=""/>
                <div class="pc_parts_desc">
                    <a asp-area="" asp-controller="CPU" asp-action="GetCPUById" asp-route-id="@CPU.Id">
                        @CPU.Name
                    </a>
                    <div class="pc_parts_params">
                        <p>Производитель: @CPU.Company</p>
                        <p>Сокет: @CPU.Socket</p>
                        <p>Количество ядер: @CPU.CoresCount</p>
                        <p>Частота: @CPU.ClockSpeed</p>
                    </div>
                </div>
            </div>
        }
    </div>
}