@model IEnumerable<HardDriveViewModel>

@{
    ViewBag.Title = "Процессоры";
}

@if (Model != null)
{
    <div class="pc_parts_list">
        @foreach (var entity in Model)
        {
            <div class="pc_parts_block">
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(entity?.ImageData ?? Array.Empty<byte>())" >
                <div class="pc_parts_desc">
                    <a asp-area="" asp-controller="HardDrive" asp-action="GetById" asp-route-id="@entity.Id">
                        @entity.Name
                    </a>
                    <div class="pc_parts_params">
                        <p>Производитель: @entity.Company</p>
                        <p>Объём: @entity.MemoryCapacity</p>
                        <p>RPM: @entity.RPM</p>
                    </div>
                </div>
            </div>
        }
    </div>
}